/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.env.example
.gitattributes
.idea/
.styleci.yml
artisan
bootstrap/app.php
bootstrap/cache/.gitignore
composer.json
composer.lock
docker-compose.yml
front-end/false/
front-end/package-lock.json
mysql/
nginx/
package.json
php/
phpunit.xml
storage/
webpack.mix.js
.gitignore
README.md
/front-end/README.md